.env
.env.*
*.pem
*.key
*.cert
secrets.json
credentials.json


.venv/
venv/
ENV/
env/
_venv/
pip-log.txt
pip-delete-this-directory.txt


*.csv
*.json
*.sqlite3
*.db
*.pkl
*.pickle
*.h5
*.docx
*.sql
*.png
*.jpg


*.ipynb
.ipynb_checkpoints/
*/.ipynb_checkpoints/*


docker-compose.override.yml


__pycache__/
*.py[cod]
*$py.class
*.pyc
.pytest_cache/
.coverage
htmlcov/


.DS_Store
.DS_Store?
Thumbs.db
ehthumbs.db